{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline",
      "retainLines": true
    },
    "test": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}